h1{
    color: blue;
    background-color: orange;
    align-items: center;
}

h1::after {
    content: url(images/desarrollo.png);
}

h2{
    color: blue;
    align-items: center;
}

h2::after {
    content: url(images/desarrollo.png);
}